<div class="header">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">
                                Pembaca Meter Bertugas
                            </h5>

                            <span class="h2 font-weight-bold mb-0"> 350,897 </span>
                        </div>

                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">
                                Jumlah Laluan Sedia Ada
                            </h5>

                            <span class="h2 font-weight-bold mb-0"> 441,356 </span>
                        </div>

                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="fas fa-route"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">
                                Jumlah Kem/RKAT
                            </h5>

                            <span class="h2 font-weight-bold mb-0"> 924 </span>
                        </div>

                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="fas fa-home"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">
                                Jumlah Bayaran Tahunan
                            </h5>

                            <span class="h2 font-weight-bold mb-0"> RM10M </span>
                        </div>

                        <div class="col-auto">
                            <div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-money-coins"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Maklumat Dan Pengumuman</h5>
            </div>
            <div class="card-header d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <a href="#">
                        <img src="../../assets/img/theme/team-1.jpg" class="avatar">
                    </a>
                    <div class="mx-3">
                        <a href="#" class="text-dark font-weight-600 text-sm">Ali</a>
                        <small class="d-block text-muted">3 Hari Lepas</small>
                    </div>
                </div>
                <div class="text-right ml-auto">
                    <button type="button" class="btn btn-sm btn-primary btn-icon">
                        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                        <span class="btn-inner--text">Follow</span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <img alt="Image placeholder" src="../../assets/img/theme/img-1-1000x600.jpg" class="img-fluid rounded">
                <div class="row align-items-center my-3 pb-3 border-bottom">
                    <div class="col-sm-6">
                        <div class="icon-actions">
                            <a href="#" class="like active">
                                <i class="ni ni-like-2"></i>
                                <span class="text-muted">150</span>
                            </a>
                            <a href="#">
                                <i class="ni ni-chat-round"></i>
                                <span class="text-muted">36</span>
                            </a>
                            <a href="#">
                                <i class="ni ni-curved-next"></i>
                                <span class="text-muted">12</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <div class="d-flex align-items-center justify-content-sm-end">
                            <div class="avatar-group">
                                <a href="#" class="avatar avatar-xs rounded-circle" data-toggle="tooltip" data-original-title="Jessica Rowland">
                                <img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg" class="">
                                </a>
                                <a href="#" class="avatar avatar-xs rounded-circle" data-toggle="tooltip" data-original-title="Audrey Love">
                                <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg" class="rounded-circle">
                                </a>
                                <a href="#" class="avatar avatar-xs rounded-circle" data-toggle="tooltip" data-original-title="Michael Lewis">
                                <img alt="Image placeholder" src="../../assets/img/theme/team-3.jpg" class="rounded-circle">
                                </a>
                            </div>
                        <small class="pl-2 font-weight-bold">and 30+ more</small>
                        </div>
                    </div>
                </div>
                <!-- Comments -->
                <div class="mb-1">
                    <div class="media media-comment">
                        <img alt="Image placeholder" class="avatar avatar-lg media-comment-avatar rounded-circle" src="../../assets/img/theme/team-1.jpg">
                        <div class="media-body">
                            <div class="media-comment-text">
                                <h6 class="h5 mt-0">Ali</h6>
                                <p class="text-sm lh-160">Cras sit amet nibh libero nulla vel metus scelerisque ante sollicitudin. Cras purus odio vestibulum in vulputate viverra turpis.</p>
                                <div class="icon-actions">
                                    <a href="#" class="like active">
                                        <i class="ni ni-like-2"></i>
                                        <span class="text-muted">3 likes</span>
                                    </a>
                                    <a href="#">
                                        <i class="ni ni-curved-next"></i>
                                        <span class="text-muted">2 shares</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media media-comment">
                        <img alt="Image placeholder" class="avatar avatar-lg media-comment-avatar rounded-circle" src="../../assets/img/theme/team-2.jpg">
                        <div class="media-body">
                            <div class="media-comment-text">
                                <h6 class="h5 mt-0">Anis</h6>
                                <p class="text-sm lh-160">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                <div class="icon-actions">
                                    <a href="#" class="like active">
                                        <i class="ni ni-like-2"></i>
                                        <span class="text-muted">10 likes</span>
                                    </a>
                                    <a href="#">
                                        <i class="ni ni-curved-next"></i>
                                        <span class="text-muted">1 share</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="media align-items-center">
                        <img alt="Image placeholder" class="avatar avatar-lg rounded-circle mr-4" src="../../assets/img/theme/team-3.jpg">
                        <div class="media-body">
                            <form>
                                <textarea class="form-control" placeholder="Write your comment" rows="1"></textarea>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div></div>
</div>