<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Penghuni</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"></i> </a>
							</li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Penghuni </a>
                              </li>
						</ol>
					</nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class= "row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0">Penggunaan Bulanan</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="chartMonthlyUse"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h3 class="m-0 d-inline-block ">Senarai Bil Bulanan</h3>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-xs-4 col-lg-4">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Tunjuk
                                    <select 
                                        name="datatable_length"
                                        aria-controls="datatable"
                                        class="form-control form-control-sm"
                                        (change)="entriesChange($event)"
                                    >
                                        <option value="5" [selected]="tableEntries==5">5</option>
                                        <option value="10" [selected]="tableEntries==10">10</option>
                                        <option value="-1" [selected]="tableEntries==-1">All</option>
                                    </select>
                                    bulan
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-8 col-lg-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input 
                                        type="search"
                                        class="form-control form-control-sm"
                                        placeholder="Search records"
                                        aria-controls="datatable"
                                        (keyup)="filterTable($event)" 
                                    />
                                </label>
                            </div>
                        </div>
                        <div class= "col-sm-12 col-lg-2 pb-4">
                            <a class="btn btn-success text-white" >
                                <i class="fas fa-file-download"></i>
                                MuatTurun 1 Tahun
                            </a>
                        </div>
                    </div>
                    <div class="row"><div class="col">
                    <ngx-datatable 
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50" 
                        [rowHeight]="'auto'"
                        [selected]="tableSelected"
                        [selectionType]="'multiClick'"
                        [limit]="tableEntries != -1 ? tableEntries:undefined"
                        [rows]="tableTemp" 
                        (activate)="onActivate($event)"
                    >

                        <ngx-datatable-column name="bilName">
                            <ng-template ngx-datatable-header-template>
                                <span>Nama Bil</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="date">
                            <ng-template ngx-datatable-header-template>
                                <span>Tarikh Terbit</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Status Bayaran</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.status == 1" class="badge badge-pill badge-warning">Belum</span>
                                <span *ngIf="row.status == 2" class="badge badge-pill badge-success">Sudah</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                                <span>Muat Turun Bil</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="btn btn-sm btn-success text-white">
                                    <i class="fas fa-file-download "></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</div>